body{
  width: 80%;
  margin: auto;
  padding: 10px;
  border: 3px solid;
}

/*.decorate{
  background: url(http://www.dotcorner.com/wp-content/rockettheme/rt_modulus_wp/frontpage/web-development.png)  no-repeat;
}*/

h1{
  font-size:3em;
  color:#fff;
  font-weight:bolder;
  margin-top:40px;
}
header{
  background-color:#696969;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid;
}
nav {
  padding: 5px;
  background: #d0d0d0; 
  border-radius: 10px;
  border: 2px solid;
  
}

nav a {
  color: #000000;
  font-size: 1.2em;
  text-decoration: none;
    
}
.flexbox {
  background: rgba(255,255,255,.5);
  border: 2px solid #696969;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: -webkit-box;
  font-family: sans-serif;
  width: 80%;
  margin: auto ;
  margin-top: 2em;
}
.flexbox-orient-vertical {
  -webkit-box-orient: vertical;
 padding:15px;
}

.topic{
  display:inline-block;
  background: #696969;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  width:80px;
  padding: 3px;
  margin:2px;
  font-size: 16px;
}

.content{
  color:#330000;
  font-size: 16px;
}

p{
  font-size: 16px;
}

}
.intro-first>li{
  padding:3px 10px;
}

h2::before {
  font-family: 'FontAwesome', sans-serif;
}

h2{
  border:0;
  background-color:#09f;
  background-image: -webkit-linear-gradient(left,#d0d0d0,#a9a9a9,#fff);
  height:24px;
}
.box {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}
.box:before {
    position: absolute;
    content: "";
    width: 130%;
    height: 30%;
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    background: -ms-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    background: -o-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    background: linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
    -webkit-transform: translate(44px,-10px) skew(0deg) rotate(-45deg);
     -moz-transform: translate(44px,-10px) skew(0deg) rotate(-45deg);
     -ms-transform: translate(44px,-10px) skew(0deg) rotate(-45deg);
     -o-transform: translate(44px,-10px) skew(0deg) rotate(-45deg);
     transform: translate(44px,-10px) skew(0deg) rotate(-45deg);
    }
.box:after {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    width: 130%;
    height: 30%;
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    background: -ms-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    background: -o-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    background: linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));
    box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
    -webkit-transform: translate(-44px,10px) skew(0deg) rotate(-45deg);
     -moz-transform: translate(-44px,10px) skew(0deg) rotate(-45deg);
     -ms-transform: translate(-44px,10px) skew(0deg) rotate(-45deg);
     -o-transform: translate(-44px,10px) skew(0deg) rotate(-45deg);
     transform: translate(-44px,10px) skew(0deg) rotate(-45deg);
    }

body{  
  background-image:url(http://subtlepatterns.com/patterns/paisley.png);
  background-attachment: fixed;
}

ol.labels-list {
  list-style-type: none;
  list-style-type: decimal !ie; /*IE 7- hack*/
  
  margin: 0;
  margin-left: 1em;
  padding: 0;
  
  counter-reset: li-counter;
}
ol.labels-list > li{
  position: relative;
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: #eaeaea;
    border: 3px solid;
    width: 50%;
    font-size: 16px;
}
ol.labels-list > li:before {
  position: absolute;
  top: -0.3em;
  left: -0.5em;
  width: 1.8em;
  height: 1.2em;
  
  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: #464646;
  background-color: #d0d0d0;
    border: 3px solid;
  
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  z-index: 99;
  overflow: hidden;
  
  content: counter(li-counter);
  counter-increment: li-counter;
}
