body{     
background:url(http://subtlepatterns.com/patterns/paisley.png);
background-attachment: fixed;
margin: 40px;
width:50%
border: #000 3px solid;
background-color: rgba(255,255,255,.5);
}
.button{
background: #eee;
border: solid 1px #bebebe;
color: #333;
}
.button:hover{
background: #ccff33;
}
.button:active{
background:#ffff00;
}
label:hover{
background: #ccff33;
}
label:active{
background:#ffff00;
}
